.App{
  min-height: 100vh;
  display: flex;
  color:black;
}


.container-custom {
  width: 150px; /* Fixed width */
  height: 90px;
}

.SideBarButton:hover { background-color: #50d1f1;
  border-radius: 10px;
  border-color: rgb(5, 5, 88);
}

/* .nav-link:hover {
  color: whitesmoke  !important;
} */


.avatar-icon {
  width: 32px;
  height: 32px;
  background-color: #a984ec;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
}