.App{
  min-height: 100vh;
  display: flex;
  color:black;
}


.container-custom {
  width: 150px; /* Fixed width */
  height: 90px;
}

.SideBarButton:hover { background-color: #00b3db;
  border-radius: 10px;
  border-color: blue;
  color: white;
}
